@import "utilities";



.overflow-table{
   overflow-x: auto;
    &::-webkit-scrollbar {
        height: 5px;
       }
     
       &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 3px;
      
       }
       &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $bg;
        border-radius: 20px;
      }

      table{
          margin: 2rem 0;
      }

}
 

.add-btn{
    background-color: $green;
    color: $white;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: all 0.2s linear;

    &:hover, &:active{
        filter: saturate(150%);
        @include neon_shadow($green);
    }
}

.table-btn{
    transition: all 0.2s linear;
    &:hover, &:active{
        filter: saturate(150%);
    }
}

