/*****VARIABLES******/

$bg: #211F2F;
$card: #25283B;
$green: #047857;
$green_glass: rgba(4, 120, 87, 0.6);
$dark_green: #031e03;
$red: rgba(163, 15, 15, 1);
$white: white;


/*****MIXINS*******/

// neon-shadow
@mixin neon_shadow($color){
    box-shadow: 0 0 30px  $color;
}

//media queries

@mixin xxs {
    @media screen and (min-width: 300px) {
      @content;
    }
  }
  
  @mixin xs {
    @media screen and (min-width: 400px) {
      @content;
    }
  }

  @mixin s-max {
    @media screen and (max-width: 576px) {
      @content;
    }
  }

  @mixin s {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
  
  @mixin md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin lg {
    @media screen and (min-width: 1000px) {
      @content;
    }
  }
  
  @mixin xl {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
  @mixin xxl {
    @media screen and (min-width: 1400px) {
      @content;
    }
  }
  

